Package: todol
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: python3 (>= 3.6), python3-termcolor (>= 1.1.0)
Maintainer: Karel Chlup
Description: Simple Python CLI to-do list app with persistent storage.
